## JetBrain
.idea
.kotlin

## Gradle
.gradle
.gradle-local

## macOS
.DS_Store

## Private
TODO.md

## Ai
/skills

## Default
*.iml
/local.properties
/build
/captures
.externalNativeBuild
.cxx
local.properties
